<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<nav>
  <p><a href="/bookclub/<%= book.id %>/edit">EDIT BOOK</a></p>
  <form action="/bookclub/<%=book.id; %>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE"/>
  </form>
</nav>

<h1>Book Show Page</h1>
  <div id="book_container">
    <%= book.cover %>
    <p>Title: <%= book.title %></p>
    <p>Author: <%= book.author %></p>
    <p>Synopsis: <%= book.synopsis %></p>
    <p>Rating: <%= avgRating %></p>

    <a href="/bookclub/<%= book.id %>/comments/new">Add New Comment</a>
      <ul>
        <% for (i = 0; i < book.comments.length; i++) { %>
         <li>Rating: <%= book.comments[i].rating %></li>
         <li>Comments: <%= book.comments[i].comments %></li>
         <p><a href="/bookclub/<%=book.id%>/comments/<%=i%>/edit">Edit Comment</a></p>
         <form action="/bookclub/<%= book.id%>/comments/<%=i%>?_method=DELETE" method="POST">
           <input type="submit" value="DELETE"/>
         </form>
         <br>
        <% } %>
      <ul>
  </div>


<%- include('../partials/footer.ejs') %>
