<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

    <h1>Book Show Page</h1>
      <div id="book_container">
        <img src="<%= book.cover %>">
        <p>Title: <%= book.title %></p>
        <p>Author: <%= book.author %></p>
        <p>Date Read: <%= book.dateRead %></p>
        <p>Rating: <%= book.rating %></p>
        <p>Synopsis: <%= book.synopsis %></p>
        <p>Comments: <%= book.comments %></p>
        <p><a href="/bookclub/<%= book.id %>/edit">EDIT BOOK</a></p>
        <form action="/bookclub/<%=book.id; %>?_method=DELETE" method="POST">
				  <input type="submit" value="DELETE"/>
				</form>
      </div>

<%- include('../partials/footer.ejs') %>
